/* footer */
.footer {
    background-color: #000000;
    padding: 20px 0;
    color: #FAFAFA;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
}

.footer-subheading {
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}
.footer-subheading>i{
    margin-right: 10px;
}


.footer-para {
    font-size: 14px;
    margin-top: 5px;
}

.footer-input {
    margin-top: 10px;
}

.footer-copyright {
    background-color: #000000;
    padding: 10px 0;
    color: #FAFAFA;
    text-align: center;
    font-size: 14px;
}
#f1{
  background-color: #000000;
            color: #FAFAFA;
            align-items: center;
            justify-content: center;
}

/* header */
#navbarSupportedContent a{
    margin-left: 40px;
    
}
/* login */
.loginimage{
    width: 450px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 352px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
}

.login-container h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: start;
}
.login-container p {
    color: #333;
    margin-bottom: 20px;
    text-align: start;
}



.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: start;
}

.form-group input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}
.over{
    display:flex;
    justify-content: space-between;
}
.forget{
  color:red;
}
.forgets{
    color:#000;
  }
.login{
    background-color: red;
    border: red;
    padding-left: 60px;
    padding-right: 60px;
    color: #fff;
    
}
.logreg .btn{
    background-color: red;
}
.already{
    display:flex;
    justify-content: space-between;
}
.sent-bn{
    border-radius: 0px 7px 7px 0px !important;
}
.clientimg{
    height: 300px;
}
.icoservices {
    height: 55px;
    margin-top: 20px;
}
.cards {
    width: 16rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cards-1 {
    width: 16rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ffffff;
}
.cards:hover{
     background-color: #DB4444;
     color: #fff;
}
.users{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.users-tr{
    font-size: 20px;
}
.items{
    display: flex;
     padding: 10px 10px;
     cursor: pointer;
}
.items>i{
  margin-right: 12px;
}
.rate{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.pro-1{
    height: 450px !important;
}
.pro{
    height: 100px !important;
    cursor: pointer;
}
.mobile-view{
    display: none !important;
}
.lap-view{
    display: block ;
}
.carousel-indicators {
    bottom: 20px; /* Adjust the position as needed */
}

.carousel-indicators button {
    width: 20px; /* Set the width and height to create a circular shape */
    height: 20px;
    border-radius: 50%; /* Make it circular */
    background-color: #ddd; /* Set the background color */
    border: none; /* Remove border */
    margin-right: 5px; /* Adjust the spacing between indicators */
    margin-left: 5px;
}

.carousel-indicators .active {
    background-color: #555; /* Set the active indicator color */
}
/* .first{
    margin-top: -400px;
} */
.logosas{
    margin-top: -200%;
    height: 85px;
}

.cookieswes{
    margin-top: -45% !important;
    width: 86%;
}

.products{
    height: 150px;
}
.cards-2{
    width: 16rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.products-1 {
    height: 40px;
    margin-top: 53px;
}
@media (max-width:600px){
    .loginimage {
        margin-bottom: -100px !important;
    }
    .mobile-view{
        display: block !important;
    }
    .lap-view{
        display: none  !important;
    }
}